<div class="container-fluid">
    <div class="row d-flex justify-content-center mt-3 p-3">

        <!-- Perfil -->
        <div class="col-md-8 d-flex justify-content-center bg-light p-3 oikos-border me-2">

            <!-- Perfil e Informações -->
            <div class="d-flex justify-content-center">
                <div>

                    <!-- Foto -->
                    <div class="text-center">
                        <img src="{{visitingProfile.profilePic}}" class="img-thumbnail rounded-circle" style="width: 200px; height: 200px;">
                    </div>
                    
                    <!-- Nome -->
                    <div class="row justify-content-center text-center">
                        <div class="col-md-3">
                            <h5 class="bg-sla oikos-border mt-2 p-1">{{visitingProfile.profileName}}</h5>
                        </div>
                    </div>

                    <!-- Usuário -->
                    <div class="row justify-content-center text-center">
                        <div class="col-md-2">
                            <p class="bg-sla oikos-border p-1">@{{visitingProfile.profileAlias}}</p>
                        </div>
                    </div>

                    <!-- Seguidores -->
                    <div class="row justify-content-center text-center">
                        <div class="col-md-3">
                            <p class="bg-sla oikos-border p-1">58857 seguidores</p>
                        </div>
                        <div class="col-md-3">
                            <p class="bg-sla oikos-border p-1">58857 seguindo</p>
                        </div>
                    </div>

                    <!-- Biogragia -->
                    <div class="row justify-content-center text-center">
                        <div class="col-md-8">
                            <p class="bg-sla oikos-border p-1">{{visitingProfile.profileBio}}</p>
                        </div>
                    </div>

                    <!-- Feed -->
                    <div class="mt-5">

                        <!-- Nav -->
                        <ul class="nav nav-pills justify-content-center mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Posts</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link ms-5" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Scraps</button>
                            </li>
                        </ul>

                        <!-- Conteúdo Navs -->
                        <div class="tab-content" id="pills-tabContent">

                            <!-- Seus Posts-->
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div *ngFor="let item of visitingProfile.messagesReceived">
                                    <div *ngIf="item.messageType == 'feed'" class="card mb-3">
                                        <div class="card-header">
                                            <div class="d-flex align-items-center">
                                            <img src="{{item.profileFrom.profilePic}}" alt="" class="img-fluid rounded-circle"
                                                style="width: 30px; height: 30px;"> <a class="ms-1"
                                                [routerLink]="['/profile-page', item.profileFrom.profileId]">
                                                @{{item.profileFrom.profileAlias}}</a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <img *ngIf="item.messagePic != null" src="{{item.messagePic}}" class="post-img">
                                            <h5 class="card-title fw-bold mb-0">{{item.messageTitle}} </h5>
                                            <p class="card-text mt-2">{{item.messageContent}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Scraps -->
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                                <!-- Postar -->
                                <div *ngIf="myProfileId != visitingProfileId">
                                    <div class="mb-3 mt-1 bg-sla p-3 oikos-border">
                                        <label for="exampleFormControlTextarea1" class="form-label">Gostaria de deixar uma mensagem para {{visitingProfile.profileName}}:</label>
                                        <textarea [(ngModel)]="messageProfileDto.messageContent" type="text" class="form-control"
                                            id="descricao" placeholder="Digite a mensagem" rows="3"></textarea>
                                        <div class="form-group mt-3">
                                            <label for="pic">Gostaria de inserir uma imagem?</label>
                                            <input [(ngModel)]="messageProfileDto.messagePic" class="form-control form-st" type="text"
                                                name="pic" id="pic" placeholder="Link da imagem">
                                        </div>
                                        <button (click)="postMessage()" class="btn btn-success mb-2 mt-3">POSTAR</button>
                                    </div>
                                </div>

                                <!-- Posts Scraps -->
                                <div *ngFor="let item of visitingProfile.messagesReceived">

                                    <div *ngIf="item.messageType == 'profile'" class="card mb-3">
                                        <div class="card-header">
                                            <div class="d-flex align-items-center">
                                            <img src="{{item.profileFrom.profilePic}}" alt="" class="img-fluid rounded-circle"
                                                style="width: 30px; height: 30px;"> <a class="ms-1"
                                                [routerLink]="['/profile-page', item.profileFrom.profileId]">
                                                @{{item.profileFrom.profileAlias}}</a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <img *ngIf="item.messagePic != null" src="{{item.messagePic}}" class="post-img">
                                            <h5 class="card-title fw-bold mb-0">{{item.messageTitle}} </h5>
                                            <p class="card-text mt-2">{{item.messageContent}}</p>
                                        </div>
                                    </div>
            
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Lateral -->
        <div class="col-md-3 bg-light oikos-border">

            <!-- Minhas Comunidades -->
            <div *ngIf="myProfileId == visitingProfileId">
                <div class="row justify-content-center mt-3">
                    <div class="col-md-9">
                        <h5 class="bg-sla oikos-border mt-2 p-1 text-center">Minhas Comunidades</h5>
                        <div *ngFor="let com of visitingProfile.memberOf" class="d-flex justify-content-center">
                            <a [routerLink]="['/community-page', com.communityId]">
                                <img src="{{com.communityPic}}" class="communityPic mb-2">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Minhas Empresas -->
            <div *ngIf="myProfileId == visitingProfileId">
                <div class="row justify-content-center mt-3">
                    <div class="col-md-8">
                        <h5 class="bg-sla oikos-border mt-2 p-1 text-center">Minhas Empresas</h5>
                    </div>
                </div>
            </div>

            <!-- Comunidades -->
            <div *ngIf="myProfileId != visitingProfileId">
                <div class="row justify-content-center mt-3">
                    <div class="col-md-7">
                        <h5 class="bg-sla oikos-border mt-2 p-1 text-center">Comunidades</h5>
                        <div *ngFor="let com of visitingProfile.memberOf" class="d-flex justify-content-center">
                            <a [routerLink]="['/community-page', com.communityId]">
                                <img src="{{com.communityPic}}" class="communityPic mb-2">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Empresas -->
            <div *ngIf="myProfileId != visitingProfileId">
                <div class="row justify-content-center mt-3">
                    <div class="col-md-7">
                        <h5 class="bg-sla oikos-border mt-2 p-1 text-center">Empresas</h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>