#bg-img
{
    background-image: url("../../assets/img/fundoentrar.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-white
{
    background-color: cornsilk;
    border-radius: 15px;
}

.top
{
    margin-top: 120px;
}

.box
{
    width: 500px;
}

.form-st
{
    width: 100%;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

.butt
{
    padding: 14px 20px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.logo
{
    height: 100px;
    width: 100px;
    margin-left: 180px;
}


