#bg-img
{
    background-image: url("https://i.pinimg.com/originals/cc/f7/37/ccf737b92967ddb1ad489e257d7275e2.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-white
{
    background-color: cornsilk;
    border-radius: 15px;
}

.top
{
    margin-top: 200px;
}

.box
{
    width: 500px;
}

.form-st
{
    width: 100%;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

.butt
{
    padding: 14px 20px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.logo
{
    height: 80px;
    width: 80px;
    margin-left: 180px;
}


