<h1>Entrar</h1>
<form>
    <div class="mb-3">
      <label for="usuario" class="form-label">Usuario</label>
      <input type="text" class="form-control" id="usuario" aria-describedby="emailHelp" placeholder="Seu usuario">
      <div id="emailHelp" class="form-text"></div>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Senha</label>
      <input type="password" class="form-control" id="senha" placeholder="Sua senha">
    </div>

    <button type="submit" class="btn btn-primary">Entrar</button>

    <hr>
    <p class="text-center">Não tem uma conta? <a routerLink="/cadastrar">Cadastre-se</a></p>
  </form>