<div class="container-fluid">
    <div class="row main">
 
        <div class="controller col-sm-2 debug">
            <p>
                <em>
                    <b>O que você está pensando?</b>
                </em>
            </p>
            <textarea class="status"></textarea>
            <i class="icon far fa-paper-plane" style="margin: 0;"></i>
        </div>
 
        <div class="feed col-sm-6 debug">
 
            <div class="profile d-flex justify-content-start align-items-center">
                <img src="https://i.pinimg.com/474x/fb/51/f8/fb51f8c6016cf9c445137ed550ae1d25.jpg" class="profile-pic img-fluid m-3 rounded-circle">
                <p class="profile-name">
                    <b>João Especialista - Especialista no Assunto</b>
                </p>
            </div>
            <p class="message m-4">
                Bebam água. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci maxime quae nisi delectus
                recusandae
                beatae, odit vero est possimus nostrum suscipit fugit explicabo consectetur ab culpa quasi, atque error
                illo.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci maxime quae nisi delectus
                recusandae
                beatae, odit vero est possimus nostrum suscipit fugit explicabo consectetur ab culpa quasi, atque error
                illo.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci maxime quae nisi delectus recusandae
                beatae, odit vero est possimus nostrum suscipit fugit explicabo consectetur ab culpa quasi, atque error
                illo.
            </p>
            <div class="reaction d-flex justify-content-end">
                <i class="icon far fa-comment"></i>
                <i class="icon far fa-thumbs-up"></i>
                <i class="icon far fa-heart"></i>
            </div>
 
            <hr class="m-4">
 
            <div class="profile d-flex justify-content-start align-items-center">
                <img src="https://64.media.tumblr.com/240e554e9abfd89d15fafaee1cf62efe/c04b759aae5ab1d7-b5/s400x600/6915fdc4efd9b60346248f3ed2e8fb43092c1a34.jpg" class="profile-pic img-fluid m-3 rounded-circle">
                <p class="profile-name">
                    <b>Joãozinho - Proplayer</b>
                </p>
            </div>
            <p class="message m-4">
 
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci maxime quae nisi delectus recusandae
                beatae, odit vero est possimus nostrum suscipit fugit explicabo consectetur ab culpa quasi, atque error
                illo.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci maxime quae nisi delectus
                recusandae
                beatae, odit vero est possimus nostrum suscipit fugit explicabo consectetur ab culpa quasi, atque error
                illo.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci maxime quae nisi delectus recusandae
                beatae, odit vero est possimus nostrum suscipit fugit explicabo consectetur ab culpa quasi, atque error
                illo.
 
            </p>
            <div class="reaction d-flex justify-content-end">
                <i class="icon far fa-comment"></i>
                <i class="icon far fa-thumbs-up"></i>
                <i class="icon far fa-heart"></i>
            </div>
 
            <hr class="m-4">
 
        </div>
 
        <div class="community col-md-3 debug">
 
        </div>
 
    </div>
</div>