.fs-user{
    font-size: 14pt;
}

small{
    font-size: 9pt;
}

.bg-sla{
    background-color: #D9EFFC;
}

.fs-follow{
    font-size: 12pt;
}

a:link{
    color: black;
}

a:visited{
    color: black;
}

a {
    text-decoration: none;
}

.communityPic {
    width: 65px;
    height: 65px;
    border-radius: 5px;
    border-width: 4px;
    border-style: double;
    border-color: #0fbe8c;
}

.post-img {
    max-height: 500px;
    width: auto;
}

.bg-img{
    background-image: url(https://i.pinimg.com/originals/cc/f7/37/ccf737b92967ddb1ad489e257d7275e2.png);
}

.m-end{
    margin-left: 72%;
}