<div class="container-fluid">
    <div class="row d-flex justify-content-center">

        <!-- Perfil do Usuário -->
        <div class="col-md-3 bg-light rounded-p me-4 ms-3 mt-3 fw-bold" style="max-height:420px">
            <div class=" d-flex justify-content-center m-3">
                <img src="{{profile.profilePic}}" alt="" class="img-fluid rounded-circle img-thumbnail"
                    style="width: 130px; height: 130px;">
            </div>
            <h4 class="text-center fw-bold mb-0">{{profile.profileName}}</h4>
            <p class="text-center lead fs-user mb-2">@{{profile.profileAlias}}</p>

            <hr class="ms-5 me-5">
            <p class="text-center lead fs-follow mb-2">20 Seguindo · 30 Seguidores</p>
            <hr class="ms-5 me-5">
            <div>
                <p class="fs-user text-center mb-2">Comunidades</p>
                <div *ngFor="let com of profile.memberOf"> 
                    <p class="text-center lead fs-follow mb-1">{{com.communityPic}} test</p>
                </div>

            </div>
        </div>

        <!-- Feed -->
        <div class="col-md-8 bg-light me-0 mt-3 rounded-p">
            <div class="row d-flex justify-content-center">

                <!-- Feed Principal -->
                <div class="col-md-8  me-3 mt-3">
                    <!-- Postar -->
                    <div class="mb-3 mt-1 bg-sla p-3 rounded-p">
                        <label for="exampleFormControlTextarea1" class="form-label">Expresse aqui seus
                            pensamentos:</label>
                        <textarea [(ngModel)]="messageProfileDto.messageContent" type="text" class="form-control"
                            id="descricao" placeholder="Digite a mensagem" rows="3"></textarea>
                        <button (click)="postMessage()" class="btn btn-success mb-2 mt-2">POSTAR</button>
                    </div>


                    <!-- Posts -->
                    <div *ngFor="let item of messageList">

                        <div *ngIf="item.profileOn.profileId == profileId" class="card mb-3">
                            <div class="card-header">
                                <img src="{{item.profileFrom.profilePic}}" alt="" class="img-fluid rounded-circle"
                                    style="width: 30px; height: 30px;"> <a
                                    [routerLink]="['/profile-page', item.profileFrom.profileId]">
                                     @{{item.profileFrom.profileAlias}} </a><small class="text-muted ms-2">15h34 ·
                                    10/08/2021</small>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title fw-bold mb-0">{{item.messageTitle}} </h5>
                                <p class="card-text mt-2">{{item.messageContent}}</p>
                            </div>
                        </div>

                    </div>
                </div>

                <!--Barra Lateral -->
                <div class="col-md-3 mt-3">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success mt-2 mb-3" type="submit">Search</button>
                    <a class="nav-link"><img src="https://image.flaticon.com/icons/png/512/1946/1946429.png" alt=""
                            style="height: 30px; width: 30px;"> Perfil</a>
                    <button routerLink='/community' class="nav-link btn btn-light"><img
                            src="https://image.flaticon.com/icons/png/512/4350/4350908.png" alt=""
                            style="height: 30px; width: 30px;"> Comunidades</button>
                    <a class="nav-link"><img src="https://image.flaticon.com/icons/png/512/561/561127.png" alt=""
                            style="height: 30px; width: 30px;"> Mensagens</a>
                </div>
            </div>
        </div>
    </div>
</div>