<div class="container-fluid">
    <div class="row d-flex justify-content-center">

        <!-- Perfil do Usuário -->
        <div class="col-md-3 bg-light rounded-p me-4 ms-3 mb-3 mt-3 p-4 fw-bold oikos-border">
            <div class=" d-flex justify-content-center m-3">
                <img src="{{profile.profilePic}}" alt="" class="img-fluid rounded-circle img-thumbnail"
                    style="width: 130px; height: 130px;">
            </div>
            <h4 class="text-center fw-bold mb-0">{{profile.profileName}}</h4>
            <p class="text-center lead fs-user mb-2">@{{profile.profileAlias}}</p>

            <hr class="ms-5 me-5">

            <!-- Do que faço parte -->
            <div>

                <div *ngIf="profile.businessOwned.length > 0" class="container">
                    <div class="d-flex justify-content-center mb-2">
                        <img src="https://image.flaticon.com/icons/png/512/85/85849.png" height=25px width=25px>
                        <p class="fs-user text-center mt-1 ms-1">Minhas empresas: </p>
                    </div>

                    <div class="row mt-2">
                        <div *ngFor="let bus of profile.businessOwned" class="col-md-3 col-sm-4 col-6 m-auto hover">
                            <a [routerLink]="['/business-page', bus.businessId]">
                                <img src="{{bus.businessPic}}" class="communityPic rounded-circle mb-2">
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <hr class="ms-5 me-5 mb-3 mt-5">

            <div *ngIf="profile.memberOf.length > 0" class="container">
                <div class="d-flex justify-content-center mb-2">
                    <img src="https://image.flaticon.com/icons/png/512/4800/4800666.png" height=25px width=25px>
                    <p class="fs-user text-center mt-1 ms-1">Comunidades: </p>
                </div>

                <div class="row mt-2 mb-5">
                    <div *ngFor="let com of profile.memberOf" class="col-md-3 col-sm-4 col-6 m-auto hover">
                        <a [routerLink]="['/community-page', com.communityId]">
                            <img src="{{com.communityPic}}" class="communityPic mb-2">
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <!-- Feed -->
        <div class="col-md-8 bg-light me-0 mt-3 rounded-p bg- mb-3 oikos-border">
            <div class="row d-flex justify-content-center">

                <!-- Feed Principal -->
                <div class="col-md-8  me-3 mt-3">
                    <!-- Postar -->
                    <div class="mb-3 mt-1 bg-sla p-3 oikos-border">
                        <label for="exampleFormControlTextarea1" class="form-label">Expresse aqui seus
                            pensamentos:</label>
                        <textarea [(ngModel)]="messageProfileDto.messageContent" type="text" class="form-control"
                            id="descricao" placeholder="Digite a mensagem" rows="3"></textarea>
                        <div class="form-group mt-3">
                            <label for="pic">Gostaria de inserir uma imagem?</label>
                            <input [(ngModel)]="messageProfileDto.messagePic" class="form-control form-st" type="text"
                                name="pic" id="pic" placeholder="Link da imagem">
                        </div>
                        <button (click)="postMessage()" class="btn btn-outline-primary mb-2 mt-3">POSTAR</button>
                    </div>


                    <!-- Posts -->
                    <div *ngFor="let item of messageList">

                        <div *ngIf="item.messageType == 'feed'" class="card mb-3">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <img src="{{item.profileFrom.profilePic}}" alt="" class="img-fluid rounded-circle"
                                        style="width: 30px; height: 30px;"> <a class="mt-3"
                                        [routerLink]="['/profile-page', item.profileFrom.profileId]">
                                        @{{item.profileFrom.profileAlias}}</a>

                                    <button type="button" data-toggle="modal" data-target="#meuModal"
                                        class=" m-end  fas fa-edit mt-2 btn"></button>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#modalDelete"
                                        class="far fa-trash-alt me-1 mt-2 btn delete"></button>

                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text mt-2">{{item.messageContent}}</p>
                                <hr>
                                <img *ngIf="item.messagePic != null" src="{{item.messagePic}}" class=" mw post-img">
                                <h5 class="card-title fw-bold mb-0">{{item.messageTitle}} </h5>
                            </div>
                        </div>

                    </div>
                </div>

                <!--Barra Lateral -->
                <div class="col-md-3 mt-3">

                    <button [routerLink]="['/profile-page', profileId]"
                            class="nav-link btn btn-light mt-3"><img
                            src="https://image.flaticon.com/icons/png/512/1946/1946429.png" alt=""
                            style="height: 30px; width: 30px;"> Perfil </button>

                    <button routerLink='/community' class="nav-link btn btn-light  mt-3"><img
                            src="https://image.flaticon.com/icons/png/512/4350/4350908.png" alt=""
                            style="height: 30px; width: 30px;"> Comunidades</button>

                    <button class="nav-link btn btn-light  mt-3"><img
                            src="https://image.flaticon.com/icons/png/512/561/561127.png" alt=""
                            style="height: 30px; width: 30px;"> Mensagens</button>

                    <button class="nav-link btn btn-light mt-3" data-bs-toggle="modal"
                        data-bs-target="#newBusiness"><img
                            src="https://image.flaticon.com/icons/png/512/2830/2830596.png" alt=""
                            style="height: 30px; width: 30px;"> Empresas</button>

                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Delete-->
<div class="modal" data-bs-toggle="modal" id="modalDelete" *ngFor="let item of profile.messagesReceived">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <p>{{item.messageContent}}</p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-danger">Deletar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para criação -->
<div id="newBusiness" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-bg">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastrar seu negócio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="form-control">

                    <label for="businessName" class="mt-3 mb-1">Nome da empresa</label>
                    <input [(ngModel)]="profileBusinessDto.businessName" type="text" class="form-control"
                        id="businessName" placeholder="Insira o nome da sua empresa">
                    <label for="businessName" class="mt-3 mb-1">E-mail comercial</label>
                    <input [(ngModel)]="profileBusinessDto.businessEmail" type="text" class="form-control"
                        id="businessEmail" placeholder="Insira o seu e-mail comercial">
                    <label for="businessName" class="mt-3 mb-1">Endereço</label>
                    <input [(ngModel)]="profileBusinessDto.businessAddress" type="text" class="form-control"
                        id="businessAddress" placeholder="Insira o endereço da sua empresa">
                    <label for="businessName" class="mt-3 mb-1">Telefone</label>
                    <input [(ngModel)]="profileBusinessDto.businessPhone" type="text" class="form-control"
                        id="businessPhone" placeholder="Insira o número de telefone da sua empresa">
                    <label for="businessName" class="mt-3 mb-1">Logo</label>
                    <input [(ngModel)]="profileBusinessDto.businessPic" type="text" class="form-control"
                        id="businessPic" placeholder="Insira o logo da sua empresa">
                    <label for="businessHeader" class="mt-3 mb-1">Header de página</label>
                    <input [(ngModel)]="profileBusinessDto.businessHeader" type="text" class="form-control"
                        id="businessHeader" placeholder="Insira o header">
                    <label for="businessName" class="mt-3 mb-1">Fundo de página</label>
                    <input [(ngModel)]="profileBusinessDto.businessBackground" type="text" class="form-control"
                        id="businessBackground" placeholder="Insira o fundo da sua página">

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button (click)="createBusiness()" type="button" data-bs-dismiss="modal"
                    class="btn btn-success">Criar</button>
            </div>
        </div>
    </div>
</div>