<div class="container-fluid bg">
    <div class="row d-flex justify-content-center">
        <h1 class="text-center mt-4">PROJETO OIKOS</h1>
        <p class="lead text-center">O que é?</p>
        <div class="col-md-8 d-flex justify-content-center">
            <div class="bg-light rad">
                <p class="lead text-center m-4">O “Projeto Oikos” se trata de uma rede social voltada à práticas sustentáveis que traz os olhares dos usuários a o que as empresas, e outros usuários estão praticando em relação ao meio ambiente, conforme você realiza boas ações, mais visibilidade dentro da rede terá, e quando há o contrário você perde score e ganha uma visibilidade negativa, há uma função de alerta, da qual você marca uma empresa ou usuário como uma má ação, e outros usuários terão a oportunidade de debater sobre o assunto. Há grupos específicos dentro da rede, e um sistema de mensagens para que possam haver conversas em particular. Esperamos que dentro do escopo do comportamento humano possamos conectar as pessoas e trazer o assunto da sustentabilidade de volta às mesas, de forma intuitiva e amigável.</p>   
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <h1 class="text-center mt-2">NOSSA EQUIPE</h1>
            <p class="lead text-center">Nossa equipe de desenvolvedores do projeto Oikos</p>
        </div>
       
        <div class="col-md-8 d-flex justify-content-center flex-wrap bg-light rad mb-5">
           
            
            <div class="m-3">
                <img src="http://pa1.narvii.com/6651/9f626cb2f904734e74ab0ce5be557f4e9997cd98_00.gif" class="img-thumbnail rounded-circle img-fluid" alt="..."> 
                <h3 class="text-center mt-2">Ana Flovia</h3>
                <p class="lead text-center">Programadora</p>
                <ul class="social text-center">
                    <li>
                        <a href="https://www.linkedin.com/in/anaflaviacamelo/" target="_blank">
                            <i class="fab fa-linkedin text-black fs-2"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/afc-me" target="_blank">
                            <i class="fab fa-github-square text-black fs-2"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="m-3">
                <img src="https://media.discordapp.net/attachments/854818601290170391/869952366219231243/playskool-power-rangers-mega-mightie-ranger-vermelho-e5869-hasbro.jpg" class="img-thumbnail rounded-circle img-fluid" alt="...">  
                <h3 class="text-center mt-2">Gu</h3>
                <p class="lead text-center">Programador</p>
                <ul class="social text-center">
                    <li>
                        <a href="https://www.linkedin.com/in/anaflaviacamelo/" target="_blank">
                            <i class="fab fa-linkedin text-black fs-2"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/afc-me" target="_blank">
                            <i class="fab fa-github-square text-black fs-2"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="m-3">
                <img src="https://i.pinimg.com/originals/0b/16/43/0b1643ccc5bca74f629c20a3ed0a3124.gif" class="img-thumbnail rounded-circle img-fluid" alt="...">  
                <h3 class="text-center mt-2">Ed</h3>
                <p class="lead text-center">Programador</p>
                <ul class="social text-center">
                    <li>
                        <a href="https://www.linkedin.com/in/anaflaviacamelo/" target="_blank">
                            <i class="fab fa-linkedin text-black fs-2"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/afc-me" target="_blank">
                            <i class="fab fa-github-square text-black fs-2"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="m-3">
                <img src="https://cdn.discordapp.com/attachments/854818601290170391/869951049618841650/29a1ba88237825.Y3JvcCwyNTA5LDE5NjIsMCw3NzY.jpg" class="img-thumbnail rounded-circle img-fluid" alt="...">  
                <h3 class="text-center mt-2">Du, Dudu e Edu</h3>
                <p class="lead text-center">Programador</p>
                <ul class="social text-center">
                    <li>
                        <a href="https://www.linkedin.com/in/anaflaviacamelo/" target="_blank">
                            <i class="fab fa-linkedin text-black fs-2"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/afc-me" target="_blank">
                            <i class="fab fa-github-square text-black fs-2"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="m-3">
                <img src="https://cdn.discordapp.com/attachments/870005191167057970/870005462890872832/5311a0611fb12284b6dd466c663cc2b9.jpg" class="rounded-circle img-fluid img-thumbnail" alt="...">   
                <h3 class="text-center mt-2">Milly</h3>
                <p class="lead text-center">Programadora</p>
                <ul class="social text-center">
                    <li>
                        <a href="https://www.linkedin.com/in/anaflaviacamelo/" target="_blank">
                            <i class="fab fa-linkedin text-black fs-2"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/afc-me" target="_blank">
                            <i class="fab fa-github-square text-black fs-2"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>