<footer class="footer bg-light">

    <div class="container">

        <div class="row d-flex justify-content-center mt-1">
            <img class="logo" src="../../assets/img/logo-oikos-int.png">
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="fs-5 fw-light mt-2">CONHEÇA MAIS SOBRE O PROJETO</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mt-1 mb-3">
                
                        <a routerLink="/about" class=" me-5 title fw-bold">
                            Sobre o Oikos                    
                        </a>
                    
                        <a routerLink="/contact" class=" title fw-bold">
                             Entre em Contato
                        </a>
                   
            </div>
        </div>
    </div>

    <div class="grad p-0 text-center py-3 fs-small bg">&copy; 2021 Copyright: Oikos</div>

</footer>
