<div class="container-fluid" id="bg-img" class="pb-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-6 bg-white top box" style="border-radius: 10px;">
            <div class="d-flex justify-content-center align-items-center">
            <img class="logo m-auto mb-3" src="../../assets/img/logo-oikos.png">
            </div>
        </div>
    </div>

    <div class="row mt-3 d-flex justify-content-center">

        <div class="col-md-6 bg-white box" style="border-radius: 10px;">

            <h1 class="text-center">Cadastrar</h1>
            <form class="p-4">
                <div class="form-group mt-3">
                    <label for="name">Nome</label>
                    <input [(ngModel)]="profile.profileName" class="form-control form-st" type="text" name="name" id="name"
                        placeholder="Seu nome">
                </div>

                <div class="form-group mt-3">
                    <label for="user">Usuário</label>
                    <input [(ngModel)]="profile.profileAlias" class="form-control form-st" type="text" name="user" id="user"
                        placeholder="Seu usuário">
                </div>

                <div class="form-group mt-3">
                    <label for="email">E-mail</label>
                    <input [(ngModel)]="profile.profileEmail" class="form-control form-st" type="text" name="email" id="email"
                        placeholder="Seu e-mail">
                </div>

                <div class="form-group mt-3">
                    <label for="pic">Link da Foto</label>
                    <input [(ngModel)]="profile.profilePic" class="form-control form-st" type="text" name="pic" id="pic"
                        placeholder="Link da sua foto">
                </div>


                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input (input)="confirmSenha($event)" type="password" class="form-control form-st" id="senha"
                        placeholder="Sua senha">
                </div>


                <div class="form-group mt-3">
                    <label for="confirmPassword">Senha</label>
                    <input [(ngModel)]="profile.profilePassword" class="form-control form-st" type="password"
                        name="confirmPassword" id="confirmPassword" placeholder="Confirme sua senha">
                </div>

                <button type="submit" class="btn btn-danger" routerLink="/entrar">Cancelar</button>
                <button type="submit" class="btn btn-success" (click)='cadastrar()'>Cadastrar</button>
            </form>


        </div>
    </div>



</div>