* {
    margin: 0;
}

#bg-img
{
    background-image: url("https://cdn.pixabay.com/photo/2015/10/22/17/45/leaf-1001679_960_720.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-white
{
    background-color: white;
}

.logo
{
    height: 200px;
    width: 200px;
}

.top
{
    margin-top: 100px;
}

.box
{
    width: 500px;
}

.form-st
{
    width: 100%;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
}