<div class="container">
 <i class="fas fa-arrow-left"></i>
  <table class="table table-striped">
    <h4 style="text-align: center; margin-top: 25px; font-size: 35px;">Fórum</h4>
      <tbody>
        <div class="container">
       <tr>
        <td>Dourado Corps<br/></td>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta atque tenetur ullam non deserunt numquam esse animi expedita recusandae quis optio labore mollitia totam ad at inventore, voluptates eveniet iure.</p>
        <td>Agosto de 2021</td>
      </tr>
      <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/1840618-imagem-perfil-icone-masculino-icone-humano-ou-pessoa-sinal-e-simbolo-gr%C3%A1tis-vetor.jpg" width="200px" height="200" style="margin-bottom: 25px;">
      </div>
      <div class="container">
        <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/1840618-imagem-perfil-icone-masculino-icone-humano-ou-pessoa-sinal-e-simbolo-gr%C3%A1tis-vetor.jpg" width="200px" height="200">
        <tr>
         <td>Dourado Corps<br/></td>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta atque tenetur ullam non deserunt numquam esse animi expedita recusandae quis optio labore mollitia totam ad at inventore, voluptates eveniet iure.</p>
         <td>Agosto de 2021</td>
       </tr>
       </div>
       <div class="container">
        <tr>
         <td>Dourado Corps<br/></td>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta atque tenetur ullam non deserunt numquam esse animi expedita recusandae quis optio labore mollitia totam ad at inventore, voluptates eveniet iure.</p>
         <td>Agosto de 2021</td>
       </tr>
       <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/1840618-imagem-perfil-icone-masculino-icone-humano-ou-pessoa-sinal-e-simbolo-gr%C3%A1tis-vetor.jpg" width="200px" height="200">
       </div>
       <div class="container">
        <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/1840618-imagem-perfil-icone-masculino-icone-humano-ou-pessoa-sinal-e-simbolo-gr%C3%A1tis-vetor.jpg" width="200px" height="200">
        <tr>
         <td>Dourado Corps<br/></td>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta atque tenetur ullam non deserunt numquam esse animi expedita recusandae quis optio labore mollitia totam ad at inventore, voluptates eveniet iure.</p>
         <td>Agosto de 2021</td>
       </tr>
       </div>
       <div class="container">
        <tr>
         <td style="color:red;">Dourado Corps<br/></td>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta atque tenetur ullam non deserunt numquam esse animi expedita recusandae quis optio labore mollitia totam ad at inventore, voluptates eveniet iure.</p>
         <td>Agosto de 2021</td>
       </tr>
       <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/1840618-imagem-perfil-icone-masculino-icone-humano-ou-pessoa-sinal-e-simbolo-gr%C3%A1tis-vetor.jpg" width="200px" height="200">
       </div>
       <div class="container">
        <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/1840618-imagem-perfil-icone-masculino-icone-humano-ou-pessoa-sinal-e-simbolo-gr%C3%A1tis-vetor.jpg" width="200px" height="200">
        <tr>
         <td>Dourado Corps<br/></td>
         <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta atque tenetur ullam non deserunt numquam esse animi expedita recusandae quis optio labore mollitia totam ad at inventore, voluptates eveniet iure.</p>
         <td>Agosto de 2021</td>
       </tr>
       
       </div>
    </tbody>
  </table>
</div>