.return {
    cursor: pointer;
}

.avatar {
    height: 150px;
    width: 150px;
    min-width: 150px;
    min-height: 150px;
}

.bg-publish {
    border-color: rgba(135, 59, 179, 0.582);
}

.bg-publish:hover {
    background-color:rgba(72, 20, 102, 0.712);
}

.btn-outline-info {
    border-color: rgba(135, 59, 179, 0.582);
    color: rgba(135, 59, 179, 0.582);
}

.btn-outline-info:hover {
    background-color: rgba(135, 59, 179, 0.582);
    color: white;
}