<div class="container-fluid bg">

    <div class="row d-flex justify-content-center col-sep">
        <div class="col-md-8">
            <h1 class="text-center mt-3">Equipe de desenvolvedores do projeto OIKOS</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">

            <div class="m-3">
                <h3>Ana Flavia</h3>
                <div>
                    <ul class="social text-center d-flex align-items-center">
                        <li>
                            <a href="https://www.linkedin.com/in/anaflaviacamelo/" target="_blank">
                                <i class="fab fa-linkedin text-black fs-2 icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/afc-me" target="_blank">
                                <i class="fab fa-github-square text-black fs-2 icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="m-3">
                <h3>Gustavo Dourado</h3>
                <div>
                    <ul class="social text-center d-flex align-items-center">
                        <li>
                            <a href="https://www.linkedin.com/in/anaflaviacamelo/" target="_blank">
                                <i class="fab fa-linkedin text-black fs-2 icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/afc-me" target="_blank">
                                <i class="fab fa-github-square text-black fs-2 icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="m-3">
                <h3>Edson</h3>
                <div>
                    <ul class="social text-center d-flex align-items-center">
                        <li>
                            <a href="https://www.linkedin.com/in/anaflaviacamelo/" target="_blank">
                                <i class="fab fa-linkedin text-black fs-2 icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/afc-me" target="_blank">
                                <i class="fab fa-github-square text-black fs-2 icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="m-3">
                <h3>Eduardo Torquado</h3>
                <div>
                    <ul class="social text-center d-flex align-items-center">
                        <li>
                            <a href="https://www.linkedin.com/in/anaflaviacamelo/" target="_blank">
                                <i class="fab fa-linkedin text-black fs-2 icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/afc-me" target="_blank">
                                <i class="fab fa-github-square text-black fs-2 icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="m-3">
                <h3>Milena Teles</h3>
                <div>
                    <ul class="social text-center d-flex align-items-center">
                        <li>
                            <a href="https://www.linkedin.com/in/anaflaviacamelo/" target="_blank">
                                <i class="fab fa-linkedin text-black fs-2 icon"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/afc-me" target="_blank">
                                <i class="fab fa-github-square text-black fs-2 icon"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>