<div class="container-fluid bg-grad">
    <div class="row d-flex justify-content-center ml col-sep">

        <div class="col-md-2 mt-5 p-3 d-flex flex-column justify-content-start align-items-center info top border-rad">
            <img src="{{community.communityPic}}" class="pic img-fluid mt-2">
            <p class="mt-4"><i class="fas fa-book"></i><b> Biografia: </b> <em>{{community.communityBio}}</em></p>
            <p class="mt-2"><i class="fas fa-user-friends"></i><b> <em> Nº</em> Membros: </b> {{community.communityNumberOfMembers}}</p>
        </div>

        <div class="col-md-6 post mt-5 justify-content-center align-items-center border-rad">



        </div>

        <div class="col-md-2 mt-5 post border-rad">

    

        </div>



    </div>
</div>