.header {
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.temp {
    height: 500px;
    background-color: white;
}

.bg-white {
    background-color: white;
}

.info {
    height: 100%;
}

.community-pic {
    height: 250px;
    width: 250px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgba(29, 28, 28, 0.616);
    border-width: 2px;
    display: block;
}

