<div class="container-fluid bg-grad">
    <div class="row d-flex justify-content-center ml col-sep">

        <div class="col-md-2 newpost top border-red">

            <h4 class="p-2"><i>Criar publicação</i></h4>

            <div class="form-floating my-2">
                <textarea class="form-control status " placeholder="Leave a comment here"
                    id="floatingTextarea"></textarea>
                <label for="floatingTextarea">Nova publicação</label>
            </div>

            <div class="d-flex align-items-center my-2">
                <i class="fas fa-photo-video icon mx-3 "></i>
                <p class="m-0">foto/video</p>   
            </div>
            <hr class="m-1 mb-3">
            <button type="button" class="btn btn-success mr-3">Mostrar</button>
            <button type="button" class="btn btn-primary">Publicar</button> 


        </div>

        <div class="col-md-6 post top justify-content-center align-items-center border-red">

            <div class="profile d-flex justify-content-start align-items-center">
                <img src="https://i.pinimg.com/564x/cb/27/96/cb279603d7a95988b29ceb73add714d6.jpg"
                    class="profile-pic img-fluid m-3 rounded-circle">

                <p class="profile-name m-0 fw-bold">Naruto Uzumaki</p>
            </div>

            <div>
                <p class="message mx-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci maxime quae nisi
                    delectus
                    recusandae
                    beatae, odit vero est possimus nostrum suscipit fugit explicabo consectetur ab culpa quasi, atque
                    error
                    illo.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci maxime quae nisi delectus
                    recusandae
                    beatae, odit vero est possimus nostrum suscipit fugit explicabo consectetur ab culpa quasi, atque
                    error
                    illo.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci maxime quae nisi delectus
                    recusandae
                    beatae, odit vero est possimus nostrum suscipit fugit explicabo consectetur ab culpa quasi, atque
                    error
                    illo.
                </p>
                <hr>
                <div class="d-flex justify-content-end align-items-center">
                    <i class="fas fa-heart icon mx-3"></i>
                    <i class="fas fa-comment icon mx-3"></i>
                    <i class="fas fa-share-alt icon mx-3 me-4"></i>
                </div>
                <hr>
            </div>

            <div class="profile d-flex justify-content-start align-items-center">
                <img src="https://64.media.tumblr.com/9ca7aaa8c390bec4f80a9a828254f2fc/ea6cf3380b01d0da-30/s1280x1920/722026e7a5f861b551b6a039316fd5f5d43e40e7.jpg"
                    class="profile-pic img-fluid m-3 rounded-circle">

                <p class="profile-name m-0 fw-bold">Sasha Braus</p>
            </div>

            <div>
                <p class="message mx-3">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci maxime quae nisi
                    delectus
                    recusandae
                    beatae, odit vero est possimus nostrum suscipit fugit explicabo consectetur ab culpa quasi, atque
                    error
                    illo.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci maxime quae nisi delectus
                    recusandae
                    beatae, odit vero est possimus nostrum suscipit fugit explicabo consectetur ab culpa quasi, atque
                    error
                    illo.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci maxime quae nisi delectus
                    recusandae
                    beatae, odit vero est possimus nostrum suscipit fugit explicabo consectetur ab culpa quasi, atque
                    error
                    illo.
                </p>
                <hr>
                <div class="d-flex justify-content-end align-items-center">
                    <i class="fas fa-heart icon mx-3"></i>
                    <i class="fas fa-comment icon mx-3"></i>
                    <i class="fas fa-share-alt icon mx-3 me-4"></i>
                </div>
                <hr>
            </div>

        </div>

        <div class="col-md-2 post top border-red">
            <button class="btn btn-info" routerLink='/menssage-content'>Nova mensagem</button>
            <button class="btn btn-info" routerLink='/community'>Comunidade</button>

    

        </div>



    </div>
</div>