<div class="container-fluid bgc">

    <div class="row d-flex justify-content-center align-items-center bgb">

        <div class="col-md-6 d-flex justify-content-center box">

            <img class="img1" src="../../assets/img/Taking care of the Earth-pana.png">
        </div>

        <div class="col-md-6 text-center">

            <div>
                <h1>SOBRE O PROJETO</h1>
            </div>

            <hr>

            <p class="f-25 mt-3">O “Projeto Oikos” se trata de uma rede social voltada à práticas sustentáveis que
                traz os olhares dos usuários a o que as empresas, e outros usuários estão praticando em relação ao
                meio ambiente, conforme você realiza boas ações, mais visibilidade dentro da rede terá, e quando há
                o contrário você perde score e ganha uma visibilidade negativa, há uma função de alerta, da qual
                você marca uma empresa ou usuário como uma má ação, e outros usuários terão a oportunidade de
                debater sobre o assunto. Há grupos específicos dentro da rede, e um sistema de mensagens para que
                possam haver conversas em particular. Esperamos que dentro do escopo do comportamento humano
                possamos conectar as pessoas e trazer o assunto da sustentabilidade de volta às mesas, de forma
                intuitiva e amigável.</p>

        </div>
    </div>

    <div class="row d-flex justify-content-center">

        <div class="col-md-8 p-4">

            <div class="text-center">
                <h1>NOSSA EQUIPE</h1>
                <p class="f-20">Conheça um pouco sobre a nossa equipe de desenvolvedores!</p>
            </div>

            <hr>

            <div class="d-flex justify-content-center p-3">
                <div class="card me-4" style="width: 18rem;">
                    <img src="https://i.pinimg.com/originals/3f/64/27/3f64273cb7f6da4251f07440f8353679.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center m-0">Ana Flavia</h4>
                        <p class="card-text text-center m-0 mb-2">Desenvolvedora</p>

                        <div class="text-center">
                            <a href="https://github.com/afc-me" target="_blank"><i class="fab fa-github-square me-2 social"></i></a>
                            <a href="https://www.linkedin.com/in/anaflaviacamelo/" target="_blank"><i class="fab fa-linkedin social"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card me-4" style="width: 18rem;">
                    <img src="https://p.favim.com/orig/2018/09/17/hat-duck-aesthetic-Favim.com-6311950.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center m-0">Edson Hossotani</h4>
                        <p class="card-text text-center m-0 mb-2">Desenvolvedor</p>

                        <div class="text-center">
                            <a href="https://github.com/Cyberpatinho" target="_blank"><i class="fab fa-github-square me-2 social"></i></a>
                            <a href="https://www.linkedin.com/in/edson-hossotani-151067219/" target="_blank"><i class="fab fa-linkedin social"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card me-4" style="width: 18rem;">
                    <img src="https://i.pinimg.com/originals/8f/73/3d/8f733dbf48b432688f5d43355a52e10e.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center m-0">Eduardo Torquato</h4>
                        <p class="card-text text-center m-0 mb-2">Desenvolvedor</p>

                        <div class="text-center">
                            <a href="https://github.com/EduRTorquato" target="_blank"><i class="fab fa-github-square me-2 social"></i></a>
                            <a href="https://www.linkedin.com/in/eduardo-torquato-5062821b1/" target="_blank"><i class="fab fa-linkedin social"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card me-4" style="width: 18rem;">
                    <img src="https://img.wattpad.com/7a4fce3efdfea2e88de8b2890a998fb393268790/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f32674151465563574e2d53336c773d3d2d3832373438383335392e3135653961383563323631613432653431333039373233363137342e6a7067"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center m-0">Gustavo Dourado</h4>
                        <p class="card-text text-center m-0 mb-2">Desenvolvedor</p>

                        <div class="text-center">
                            <a href="https://github.com/Dourado8083" target="_blank"><i class="fab fa-github-square me-2 social"></i></a>
                            <a href="https://www.linkedin.com/in/gustavodouradosantos/" target="_blank"><i class="fab fa-linkedin social"></i></a>
                        </div>
                    </div>
                </div>

                <div class="card    " style="width: 18rem;">
                    <img src="https://64.media.tumblr.com/a60a11c20f84465ea5001b57a6c6d289/abefcdf0f50561f9-b4/s1280x1920/96c833e619378dbca9dfb0e1cced21d72946a4b1.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title text-center m-0">Milena Teles</h4>
                        <p class="card-text text-center m-0 mb-2">Desenvolvedora</p>

                        <div class="text-center">
                            <a href="https://github.com/Milena-Teles" target="_blank"><i class="fab fa-github-square me-2 social"></i></a>
                            <a href="https://www.linkedin.com/in/milena-teles-b3566218a/" target="_blank"><i class="fab fa-linkedin social"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>