
    <div class="container-fluid ">

        <div class="row d-flex justify-content-center">

            <div class="col-md-12 d-flex justify-content-center mt-4">
                <h1>SOBRE O PROJETO</h1>
            </div>

        </div>

        <div class="row d-flex justify-content-center align-items-center ">

            <div class="col-md-6 d-flex justify-content-center text-center">

                <p class="f-25 ms-5">O “Projeto Oikos” se trata de uma rede social voltada à práticas sustentáveis que
                    traz os olhares dos usuários a o que as empresas, e outros usuários estão praticando em relação ao
                    meio ambiente, conforme você realiza boas ações, mais visibilidade dentro da rede terá, e quando há
                    o contrário você perde score e ganha uma visibilidade negativa, há uma função de alerta, da qual
                    você marca uma empresa ou usuário como uma má ação, e outros usuários terão a oportunidade de
                    debater sobre o assunto. Há grupos específicos dentro da rede, e um sistema de mensagens para que
                    possam haver conversas em particular. Esperamos que dentro do escopo do comportamento humano
                    possamos conectar as pessoas e trazer o assunto da sustentabilidade de volta às mesas, de forma
                    intuitiva e amigável.</p>

            </div>

            <div class="col-md-6 d-flex justify-content-center">

                <img class="p-0" src="../../assets/img/Environment-bro.png" width="450px">
            </div>

        </div>

    </div>

