<div class="container-fluid">
    <div class="row d-flex justify-content-center">

        <!-- Perfil da Empresa -->
        <div class="col-md-3 bg-light rounded-p me-4 ms-3 mb-3 mt-3 fw-bold oikos-border">

            <div class=" d-flex justify-content-center m-3">
                <img src="{{business.businessPic}}" alt="" class="img-fluid rounded-circle img-thumbnail"
                    style="width: 130px; height: 130px;">
            </div>
            <h4 class="text-center fw-bold mb-0">{{business.businessName}}</h4>

            <hr class="ms-5 me-5">
            <p class="text-center lead fs-follow mb-2"></p>
            <hr class="ms-5 me-5">


        </div>

        <!-- Feed -->
        <div class="col-md-8 bg-light me-0 mt-3 rounded-p bg- mb-3 oikos-border">
            <div class="row d-flex justify-content-center">

                <!-- Feed Principal -->
                <div class="col-md-8  me-3 mt-3">
                    <!-- Postar -->
                    <div class="mb-3 mt-1 bg-sla p-3 oikos-border">
                        <label for="exampleFormControlTextarea1" class="form-label">Faça uma postagem nova: </label>
                        <textarea [(ngModel)]="messageBusinessDto.messageContent" type="text" class="form-control"
                            id="descricao" placeholder="Digite a mensagem" rows="3"></textarea>
                        <div class="form-group mt-3">
                            <label for="pic">Gostaria de inserir uma imagem?</label>
                            <input [(ngModel)]="messageBusinessDto.messagePic" class="form-control form-st" type="text"
                                name="pic" id="pic" placeholder="Link da imagem">
                        </div>
                        <button (click)="postMessage()" class="btn btn-outline-primary mb-2 mt-3">POSTAR</button>
                    </div>


                    <!-- 
                    <div *ngFor="let item of profile.messagesReceived">

                        <div class="card mb-3">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <img src="{{item.profileFrom.profilePic}}" alt="" class="img-fluid rounded-circle"
                                        style="width: 30px; height: 30px;"> <a class="mt-3"
                                        [routerLink]="['/profile-page', item.profileFrom.profileId]">
                                        @{{item.profileFrom.profileAlias}}</a>

                                    <button type="button" data-toggle="modal" data-target="#meuModal"
                                        class=" m-end  fas fa-edit mt-2 btn"></button>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#modalDelete"
                                        class="far fa-trash-alt me-1 mt-2 btn delete"></button>

                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text mt-2">{{item.messageContent}}</p>
                                <hr>
                                <img *ngIf="item.messagePic != null" src="{{item.messagePic}}" class=" mw post-img">
                                <h5 class="card-title fw-bold mb-0">{{item.messageTitle}} </h5>
                            </div>
                        </div>

                    </div>
                    -->
                </div>

                <!--Barra Lateral -->
                <div class="col-md-3 mt-3">

                    <button class="nav-link btn btn-light mt-3"><img
                            src="https://image.flaticon.com/icons/png/512/1946/1946429.png" alt=""
                            style="height: 30px; width: 30px;"> Perfil </button>


                    <button routerLink='/community' class="nav-link btn btn-light  mt-3"><img
                            src="https://image.flaticon.com/icons/png/512/4350/4350908.png" alt=""
                            style="height: 30px; width: 30px;"> Comunidades</button>

                    <button class="nav-link btn btn-light  mt-3"><img
                            src="https://image.flaticon.com/icons/png/512/561/561127.png" alt=""
                            style="height: 30px; width: 30px;"> Mensagens</button>

                    <button class="nav-link btn btn-light mt-3" data-bs-toggle="modal"
                        data-bs-target="#newBusiness"><img
                            src="https://image.flaticon.com/icons/png/512/2830/2830596.png" alt=""
                            style="height: 30px; width: 30px;"> Empresas</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal Delete-->
<div class="modal" data-bs-toggle="modal" id="modalDelete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-danger">Deletar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<