<h1>Cadastrar</h1>
<form>
    <div class="form-group mt-3">
        <label for="name">Nome</label>
        <input [(ngModel)]="profile.profileName" class="form-control" type="text" name="name" id="name"
            placeholder="Seu nome">
    </div>

    <div class="form-group mt-3">
        <label for="email">E-mail</label>
        <input [(ngModel)]="profile.profileEmail" class="form-control" type="text" name="email" id="email"
            placeholder="Seu e-mail">
    </div>

    <div class="form-group mt-3">
        <label for="pic">Link da Foto</label>
        <input [(ngModel)]="profile.profilePic" class="form-control" type="text" name="pic" id="pic"
            placeholder="Link da sua foto">
    </div>


    <div class="mb-3">
        <label for="senha" class="form-label">Senha</label>
        <input (input)="confirmSenha($event)" type="password" class="form-control" id="senha" placeholder="Sua senha">
    </div>


    <div class="form-group mt-3">
        <label for="confirmPassword">Senha</label>
        <input [(ngModel)]="profile.profilePassword" class="form-control" type="password" name="confirmPassword" id="confirmPassword"
            placeholder="Confirme sua senha">
    </div>

    <button type="submit" class="btn btn-danger" routerLink="/entrar">Cancelar</button>
    <button type="submit" class="btn btn-success" (click)='cadastrar()'>Cadastrar</button>
</form>