<footer class="footer bg text-light">

    <div class="container">

        <div class="row d-flex justify-content-center">

            <div class="col-md-6 p-4 text-center">

                <button routerLink="/about-us" class="btn btn btn-outline-light text-center butt">About Oikos</button>
                <h4 class="mt-3">Saiba mais sobre os desenvolvedores do projeto Oikos.</h4>

            </div>

            <div class="col-md-6 p-4 text-center">

                <button routerLink="/contact" class="btn btn btn-outline-light text-center butt">Contate-nos</button>
                <h4 class="mt-3">Entre em contato conosco.</h4>

            </div>
        </div>
    </div>


    <div class="grad p-0 text-center py-3 fs-small copy-color">&copy; 2021 Copyright: Oikos</div>
</footer>