<div class="container-fluid">

    <!-- Perfil -->
    <div class="row d-flex justify-content-center">

        <div class="col-md-12 d-flex justify-content-center box">

            <div class="text-center mt-4 mb-4">
                <img src="https://png.pngtree.com/element_our/png_detail/20181008/q-logo-typography-icon-monochrome-color-png_131007.jpg"
                    class="logo mb-2">
                <h4>Nome da empresa</h4>
            </div>
        </div>

    </div>
    <!-- /Perfil -->

    <!-- Carousel -->
    <div class="row">

        <div class="col-md-12 carous p-0 m-0">

            <div id="carouselExampleControls" class="carousel slide p-0 m-0" data-bs-ride="carousel">
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <img src="../../assets/img/banner-ex1.jpg" class="d-block carous w-100" alt="...">
                    </div>

                    <div class="carousel-item">
                        <img src="../../assets/img/banner-ex2.jpg" class="d-block carous w-100" alt="...">
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </div>

    <!-- /Carousel -->

    <!-- Products -->
    <div class="row">

        <div class="col-md-12 box d-flex justify-content-center">

            <div class="p-4 mb-2 cardgallery d-flex justify-content-center">

                <div class="card me-4 mt-4">
                    <img src="../../assets/img/ico-ex.jpg" class="card-img-top" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Nome do Produto" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold">Nome do Produto</h5>
                        <p class="card-text m-0 fs-4">R$ 00,00</p>
                        <p class="card-text mt-2">Descrição: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btt fw-bold">Adicionar ao carrinho</a>
                    </div>
                </div>

                <div class="card me-4 mt-4">
                    <img src="../../assets/img/ico-ex.jpg" class="card-img-top" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Nome do Produto" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold">Nome do Produto</h5>
                        <p class="card-text m-0 fs-4">R$ 00,00</p>
                        <p class="card-text mt-2">Descrição: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btt fw-bold">Adicionar ao carrinho</a>
                    </div>
                </div>

                <div class="card me-4 mt-4">
                    <img src="../../assets/img/ico-ex.jpg" class="card-img-top" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Nome do Produto" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold">Nome do Produto</h5>
                        <p class="card-text m-0 fs-4">R$ 00,00</p>
                        <p class="card-text mt-2">Descrição: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btt fw-bold">Adicionar ao carrinho</a>
                    </div>
                </div>

                <div class="card me-4 mt-4">
                    <img src="../../assets/img/ico-ex.jpg" class="card-img-top" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Nome do Produto" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold">Nome do Produto</h5>
                        <p class="card-text m-0 fs-4">R$ 00,00</p>
                        <p class="card-text mt-2">Descrição: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btt fw-bold">Adicionar ao carrinho</a>
                    </div>
                </div>

                <div class="card me-4 mt-4">
                    <img src="../../assets/img/ico-ex.jpg" class="card-img-top" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Nome do Produto" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold">Nome do Produto</h5>
                        <p class="card-text m-0 fs-4">R$ 00,00</p>
                        <p class="card-text mt-2">Descrição: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btt fw-bold">Adicionar ao carrinho</a>
                    </div>
                </div>

                <div class="card me-4 mt-4">
                    <img src="../../assets/img/ico-ex.jpg" class="card-img-top" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Nome do Produto" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold">Nome do Produto</h5>
                        <p class="card-text m-0 fs-4">R$ 00,00</p>
                        <p class="card-text mt-2">Descrição: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btt fw-bold">Adicionar ao carrinho</a>
                    </div>
                </div>

                <div class="card me-4 mt-4">
                    <img src="../../assets/img/ico-ex.jpg" class="card-img-top" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Nome do Produto" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold">Nome do Produto</h5>
                        <p class="card-text m-0 fs-4">R$ 00,00</p>
                        <p class="card-text mt-2">Descrição: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btt fw-bold">Adicionar ao carrinho</a>
                    </div>
                </div>

                <div class="card me-4 mt-4">
                    <img src="../../assets/img/ico-ex.jpg" class="card-img-top" data-bs-toggle="tooltip"
                        data-bs-placement="top" title="Nome do Produto" alt="...">
                    <div class="card-body text-center">
                        <h5 class="card-title fw-bold">Nome do Produto</h5>
                        <p class="card-text m-0 fs-4">R$ 00,00</p>
                        <p class="card-text mt-2">Descrição: Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btt fw-bold">Adicionar ao carrinho</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- /Products -->

    <!-- Carrinho -->

    <!-- Button trigger modal -->
    <div id="menu">
        <a href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="fas fa-shopping-cart icon"></i>
        </a>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Carrinho</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btt">Finalizar compra</button>
                </div>
            </div>
        </div>
    </div>

    <!-- /Carrinho -->



</div>
