<footer class="footer grad">
   
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mt-3">
                <h4 class="fs-5 fw-light">CONHEÇA MAIS SOBRE O PROJETO</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mt-2">
                <ul class="social text-center">
                    <li>
                        <a routerLink="/about">
                            <i class="fas fa-globe-americas text-dark fs-5"> Sobre o Oikos</i>                    
                        </a>
                    </li>
                    <li>
                        <a routerLink="/contact">
                            <i class="fas fa-envelope-open-text text-dark fs-5"> Entre em Contato</i>
                        </a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
<hr>
    <div class="grad p-0 text-center py-3 text-white fs-small">&copy; 2021 Copyright: Oikos</div>

</footer>